.inputs{
    text-align: center;
}

.wordlegrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 97.48px);
    border: 1px solid black;
}

.wordlegriditem{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field{
    width: 90px;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

.container{
    text-align: center;
}